body {
    background: #141414;
    color: white;
    text-align: center;
    font-family: Arial;
}

.card {
    margin: 80px auto;
    padding: 20px;
    width: 400px;
    background: #1f1f1f;
    border-radius: 10px;
}

button {
    margin: 10px;
    padding: 10px;
    width: 80%;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}

img {
    width: 200px;
    border-radius: 10px;
}
